@if (visible()) {
<div class="modal" (click)="close()">
  <div class="modal-card">
    <div class="modal-card__header">
      <div class="modal-card__actions">
        <!-- <a class="modal-card__action modal-card__action--close" (click)="close()">
        <rz-icon
          name="return"
          [size]="20"
          color="#97012e"
          hoverColor="#2d010e"
        ></rz-icon>
      </a>
      <a class="modal-card__action modal-card__action--ok" (click)="close()">
        <rz-icon
          name="tick"
          [size]="23"
          color="#007e5e"
          hoverColor="#104e3d"
        ></rz-icon>
      </a> -->
      </div>

      <h4 class="modal-card__title">{{ title() }}</h4>
    </div>

    <div class="modal-card__content">
      @if (data() && data()?.template) {
      <ng-container
        *ngTemplateOutlet="data()!.template; context: data()!.context || {}"
      ></ng-container>
      } @else {
      <p class="modal-card__empty">No Content</p>
      }
    </div>
  </div>
</div>
}
