@if (visible()) {
<div class="modal" (click)="close()">
  <div
    class="modal-card"
    cdkDrag
    cdkDragBoundary=".modal"
    (click)="$event.stopPropagation()"
    [style]="{
      width: width() + '%',
      height: height() + '%',
      top: UpdatedPosition().top == 0 ? '' : UpdatedPosition().top + 'px',
      left: UpdatedPosition().left == 0 ? '' : UpdatedPosition().left + 'px', 
      right: UpdatedPosition().right == 0 ? '' : UpdatedPosition().right + 'px', 
      bottom: UpdatedPosition().bottom == 0 ? '' : UpdatedPosition().bottom + 'px',      
    }"
  >
    <div class="modal-card__header">
      <div class="modal-card__actions"></div>
      <span class="modal-card__header-return" (click)="close()"
        >&LeftArrow;</span
      >
      <h4 class="modal-card__title">{{ title() }}</h4>
    </div>

    <div class="modal-card__content">
      @if (data() && data().template) {
      <ng-container
        *ngTemplateOutlet="data()!.template; context: data()!.context || {}"
      ></ng-container>
      } @else {
      <p class="modal-card__empty">No Content</p>
      }
    </div>
  </div>
</div>
}
