<div class="text-process">
  @for (line of lines(); track $index) {
  <div
    class="text-process__line"
    cdkDropList
    [cdkDropListData]="line"
    (cdkDropListDropped)="drop($event)"
  >
    @for (word of line.words; track $index) {
    <span
      class="text-process__word"
      cdkDrag
      cdkDragBoundary=".text-process"
      [cdkDragData]="word"
      (click)="onSelectWord(word, $event)"
    >
      {{ word }}
    </span>
    }
  </div>
  }
</div>

<app-video-player></app-video-player>

<!-- card component -->

<app-card [position]="clickedPosition">
  <ng-template #cardTemplate let-result="result">
    <div class="tabs">
      <button
        (click)="activeTab = 'translation'"
        [class.active]="activeTab === 'translation'"
      >
        Translation
      </button>
      <button
        (click)="activeTab = 'examples'"
        [class.active]="activeTab === 'examples'"
      >
        Examples
      </button>
      <button
        (click)="activeTab = 'phrases'"
        [class.active]="activeTab === 'phrases'"
      >
        Phrases
      </button>
      <button
        (click)="activeTab = 'daily'"
        [class.active]="activeTab === 'daily'"
      >
        Daily
      </button>
    </div>
    <div class="tab-content">
      <!-- TRANSLATION -->
      @if (activeTab === 'translation') { @for (t of result()?.translates; track
      t) {
      <p>{{ t.vocab.data.type }} - {{ t.vocab.data.title }}</p>
      @for (def of t.vocab.data.definitions; track def) {
      {{ def.title || "-" }}
      <p>{{ def.details || "-" }}</p>
      }
      <hr />
      } }

      <!-- EXAMPLES -->
      @if (activeTab === 'examples') { @for (ex of getAllExamples(result());
      track ex) {
      <p>{{ ex.de }}— {{ ex.fa }}</p>
      } }

      <!-- PHRASES -->
      @if (activeTab === 'phrases') { @for (p of result()?.phrase; track p) {
      <p>{{ p.de }}— {{ p.fa }}</p>
      } }

      <!-- DAILY -->
      @if (activeTab === 'daily') { @for (d of result()?.daily; track d) {
      <p>{{ d.de }}— {{ d.fa }}</p>
      <small>{{ d.subcategoryDe }} / {{ d.subcategoryFa }}</small>
      } }
    </div>
  </ng-template>
</app-card>
