.text-process {
  padding: 1rem 0.5rem;
  font-size: 18px;
  width: 75vw;
  overflow: auto;
  height: 90vh;

  &__line {
    text-align: justify;
    text-justify: inter-word;
    border-radius: 0.1rem;
    color: #103531;
    transition: background 0.3s;

    &:hover {
      background-color: #e5eeff;
    }
  }

  &__word {
    cursor: pointer;
    padding: 3px;
    display: inline-block;
    white-space: nowrap;
    border-radius: 3px;

    &:hover {
      background-color: #acc9fe;
      color: black;
    }
  }
}
.tabs {
  button {
    background: transparent;
    border: none;
    color: antiquewhite;
    width: 25%;
    padding-bottom: 0.3rem;
    cursor: pointer;
    transition: padding 0.3s;

    &:hover,
    &.active {
      padding-bottom: 1rem;
    }

    &:nth-child(1) {
      border-bottom: 2px solid #ffd63a;
    }
    &:nth-child(2) {
      border-bottom: 2px solid #efeeea;
    }
    &:nth-child(3) {
      border-bottom: 2px solid #03a791;
    }
    &:nth-child(4) {
      border-bottom: 2px solid #ff0b55;
    }
  }
}
