<div class="text-process">
  @for (line of lines(); track $index) {
  <div class="text-process__line">
    @for (word of line.words; track $index) {
    <span class="text-process__word" (click)="onSelectWord(word)">{{
      word
    }}</span>
    }
  </div>
  }
</div>

<app-card>
  <ng-template #cardTemplate let-result="result">
    @if (result()?.translates?.[0]?.vocab?.data) {
    <div>
      ({{ result()?.translates?.[0]?.vocab?.data?.type ?? "not found" }})&nbsp;
      {{ result()?.translates?.[0]?.vocab?.data?.title ?? "not found" }}
      #############
      {{result()?.translates?.[0]?.vocab?.data?.definitions?.[0]?.details ?? "not found"}}
      <br />------------------------------------------ <br />
    </div>
    <div>
      {{ result()?.translates?.[0]?.vocab?.data?.definitions?.[0]?.title ?? "not found" }}
    </div>
    } @if (result()?.translates?.[1]?.vocab?.data) {
    <div>
      ({{ result()?.translates?.[1]?.vocab?.data?.type ?? "not found" }})&nbsp;
      {{ result()?.translates?.[1]?.vocab?.data?.title ?? "not found" }}
      #############
      {{result()?.translates?.[1]?.vocab?.data?.definitions?.[1]?.details ?? "not found"}}
      <br />------------------------------------------
    </div>
    <div>
      {{ result()?.translates?.[1]?.vocab?.data?.definitions?.[1]?.title ?? "not found" }}
    </div>
    }
  </ng-template>
</app-card>
