<div class="source" [class.show]="showSource">
  <div class="source-header">
    <h2 class="source-header__title">Text eingeben</h2>
  </div>
  <div class="source-inputText-wrapper">
    <button class="source-header__button" (click)="onTextTransfere()">
      &UpArrow;
    </button>

<div class="source-content">
  <div
    class="source-inputText"
    contenteditable="true"
    [style.padding-bottom]="paddingBottom"
    (input)="onInputChange($event)"
    placeholder="Geben Sie hier Ihren Text ein..."
  ></div>
</div>
  </div>

  <button
    class="toggle"
    [style.transform]="showSource ? 'rotate(45deg)' : 'rotate(225deg)'"
    (click)="toggleSource()"
  ></button>
</div>
