.source {
  transform: translateY(calc(-100% + 2rem));
  position: fixed;
  z-index: 100;
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 20vh;
  width: calc(100% - 4rem);
  background: linear-gradient(0deg, #1c6790, #22787a);
  box-shadow: 0px 2px 5px;
  padding: 3rem 2rem;
  border-radius: 20%;
  transition: transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);

  &-header {
    display: flex;
    color: beige;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  &-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .source-inputText {
    direction: ltr;
    min-height: 2.5rem;
    max-height: 50vh;
    overflow-y: auto;
    font-size: 16px;
    padding: 1rem;
    border-radius: 0.5rem;
    background: white;
    outline: none;
    white-space: pre-wrap;
    word-break: break-word;
  }

  .source-inputText:empty:before {
    content: attr(placeholder);
    color: #888;
  }
}
.source-inputText-wrapper {
  position: relative;
  width: 100%;
}

.source-header__button {
  position: absolute;
  bottom: 0.25rem;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  color: #000000;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 30px;
  background: transparent;
  z-index: 200;

  &:hover {
    background: linear-gradient(0deg, #1c6790, #22787a);
  }
}

.show {
  transform: none;
  border-radius: 0;
}

.toggle {
  border: none;
  background: linear-gradient(135deg, #ff0000, transparent 60%);
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem;
  transition: transform 0.5s;

  &:hover {
    cursor: pointer;
    border-color: yellow;
  }
}
