.source {
  transform: translateY(calc(-100% + 2rem));
  position: fixed;
  z-index: 100;
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 20vh;
  width: calc(100% - 4rem);
  background: linear-gradient(0deg, #1c6790, #22787a);
  box-shadow: 0px 2px 5px;
  padding: 3rem 2rem;
  border-radius: 20%;
  transition: transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);

  &-header {
    display: flex;
    color: beige;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  &-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .source-inputText {
    direction: ltr;
    min-height: 2.5rem;
    max-height: 50vh;
    overflow-y: auto;
    font-size: 16px;
    padding: 1rem;
    border-radius: 0.5rem;
    background: white;
    outline: none;
    white-space: pre-wrap;
    word-break: break-word;
  }

  .source-inputText:empty:before {
    content: attr(placeholder);
    color: #888;
  }
}
.source-inputText-wrapper {
  position: relative;
  width: 100%;
}
.source-inputText-wrapper__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0.25rem;
  right: 0.5rem;
}
.source-header__button {
  padding-top: 6px;
  color: #5e31ad;
  padding-bottom: 5px;
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 30px;
  background: transparent;
  z-index: 200;
  transition: background 0.5s;

  &:hover {
    background: #80808054;
  }
}

.neben-listening::after {
  position: absolute;
  top: 50%;
  right: 8%;
  transform: translateY(-50%);
  content: "";
  display: flex;
  font-size: 8px;
  outline: 1px dashed #1c6790;
  padding: 1rem;
  border-radius: 2rem;
  animation: neben-listening 2s infinite;
}

.show {
  transform: none;
  border-radius: 0;
}

.toggle {
  border: none;
  background: linear-gradient(135deg, #ff0000, transparent 60%);
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem;
  transition: transform 0.5s;

  &:hover {
    cursor: pointer;
    border-color: yellow;
  }
}
.source-listened {
  margin: 5px auto;
  text-align: center;
  color: yellow;
  font-size: larger;
  background-color: rgb(0 0 0 / 61%);
  padding: 1rem;
  border-radius: 32px;
  min-width: 5rem;
  width: fit-content;
  height: auto;
}

@keyframes neben-listening {
  0% {
    outline: 0px solid #1c6790;
  }
  100% {
    outline: 12px solid #1c679000;
  }
}
